body{
    background-repeat: no-repeat;
    background-size:cover;
}
img{
    height: 500px;
    width: 350px;
    margin-right: 80px;
}
.t{
    position: absolute;
    left: 1px;
    top: 54px;
}
.button{
    height: 30px;
    width: 100px;
    position: absolute;
    top: 94px;
    left: 530px;
}
.button2{
    height: 30px;
    width: 100px;
}
.baba{
    display: grid;
    height: 600px;
    width: 300px;
    display:none;
    position: absolute;
    left: 430px;
    top: 140px;
}
